<section class="ad">
    <img src="./images/painter-banner.jpeg" alt="advertisement">
</section>
<section class="partner-companies">
    <p>Confían en nosotros</p>
    <img src="./images/partners-slide.jpg" alt="partners logos">
</section>
<!--
<div class="dot-carousel">
    <p><i class="fas fa-ellipsis-h"></i></p>
</div> -->