<section class="icon-categories">
    <article class="icon-article">
        <!-- mecanica auto -->
        <i class="fas fa-wrench"></i>
        <p class="icon-txt">Mecanicos/as</p>
    </article>
    <article class="icon-article">
        <!-- electricista -->
        <i class="fas fa-plug"></i>
        <p class="icon-txt">Electricistas</p>
    </article>
    <article class="icon-article">
        <!-- dentistas -->
        <i class="fas fa-tooth"></i>
        <p class="icon-txt">Odontologos/as</p>
    </article>
    <article class="icon-article">
        <!-- plomeria -->
        <i class="fas fa-faucet"></i>
        <p class="icon-txt">Plomeros/as</p>
    </article>
    <article class="icon-article">
        <!-- carpinteria -->
        <i class="fas fa-hammer"></i>
        <p class="icon-txt">Carpinteros/as/
        <p>
    </article>
    <article class="icon-article">
        <!-- pintores -->
        <i class="fas fa-paint-roller"></i>
        <p class="icon-txt">Pintores/as</p>
    </article>
</section>