<section class="icon-categories">
    <article class="icon-article">
        <a href="professionals">
            <!-- mecanica auto -->
            <i class="fas fa-wrench"></i>
            <p class="icon-txt">Mecanicos/as</p>
        </a>
    </article>
    <article class="icon-article">
        <a href="professionals">
            <!-- electricista -->
            <i class="fas fa-plug"></i>
            <p class="icon-txt">Electricistas</p>
        </a>
    </article>
    <article class="icon-article">
        <a href="professionals">
            <!-- dentistas -->
            <i class="fas fa-tooth"></i>
            <p class="icon-txt">Odontologos/as</p>
        </a>
    </article>

    <article class="icon-article">
        <a href="professionals">
            <!-- plomeria -->
            <i class="fas fa-faucet"></i>
            <p class="icon-txt">Plomeros/as</p>
        </a>
    </article>

    <article class="icon-article">
        <a href="professionals">
            <!-- carpinteria -->
            <i class="fas fa-hammer"></i>
            <p class="icon-txt">Carpinteros/as/
                <p>
        </a>
    </article>
    <article class="icon-article">
        <a href="professionals">
            <!-- pintores -->
            <i class="fas fa-paint-roller"></i>
            <p class="icon-txt">Pintores/as</p>
        </a>
    </article>
</section>