<footer class="footer">
    <div>
        <h4 class="phrase-footer">Servicios para Empresas y Pymes</h4>
    </div>
    <section>
        <div class="titles-footer">
            <ul class="list-footer">
                <li><a href="">Terminos y Condiciones</a></li>
                <li><a href="">Ayuda</a></li>
                <li>
                    <a href="registerProf">Trabaja con Nosotros</a>
                </li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
        <div class="Copyright">
            <p>Copyright © 2021-2021</p>
            <p>Calle Falsa 123, Springfield</p>
        </div>
    </section>
</footer>