<nav class="bg-c-blue">
    <div class="nav-login">
        <section class="categories">
            <div>
                <a href="/rubros">
                    <p class="yw-txt">RUBROS </p>
                </a>
            </div>
            <!-- <div class="prof-zona">
                <p>Prof. por Zona <i class="fas fa-hard-hat"></i></p>
                <!- ocultar boton en mobile, mostrar en el resto ->
            </div> -->
        </section>

        <div class="login">
            <% if(locals.userClient==undefined && locals.userProf==undefined){ %>
                <a href="/login">
                    <p class="txt-ingresar">Ingresar</p>
                </a>
                <% }else if(locals.userClient !=undefined){ %>
                    <div class="session-icons">
                        <a href="/clients/<%= locals.userClient.dni %>">
                            <p class="yw-txt"><i class="fas fa-user"></i></p>
                        </a>
                        <a href="/signout">
                            <p class="yw-txt"><i class="fas fa-sign-out-alt"></i></p>
                        </a>
                    </div>
                    <% }else if(locals.userProf !=undefined){ %>
                        <div class="session-icons">
                            <a href="/clients/<%= locals.userProf.jobTitle %>/<%= locals.userProf.cuit %>">
                                <p><i class="fas fa-user"></i></p>
                            </a>
                            <a href="/signout">
                                <p><i class="fas fa-sign-out-alt"></i></p>
                            </a>
                        </div>

                        <% } %>
                            <% if(locals.userClient==undefined){ %>
                                <p> | </p>
                                <a href="/clients/registerClients">
                                    <p class="txt-ingresar">Registrate</p>
                                </a>
                                <% } %>

                                    <div class="cart">
                                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
        </div>
    </div>
</nav>