<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <title>estas en index</title>
</head>

<body>
  <header class="header-ppal">
    <div class="header-top">
      <img src="/images/logo-soluciones-profesionales.png" alt="logo sin fondo" />
      <div class="search-bar">
        <input type="text" name="search-item">
        <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="header-bottom">
      <div class="social">
        <div class="logo-ig"><i class="fab fa-instagram"></i></div>
        <div class="logo-face">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="logo-twitter">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="logo-youtube">
          <i class="fab fa-youtube"></i>
        </div>
      </div>
      <div class="icon-contact">
        <div class="logo-gmail">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="logo-whatsapp">
          <i class="fab fa-whatsapp"></i>
        </div>
      </div>
    </div>
  </header>
  <h1>Bienvenido a login</h1>
</body>

</html>