@media (min-width: 1000px) {
  .card-wrapper {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
  }
  .top-flex-mobile {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }
  .top-flex-mobile:hover{
    box-shadow: 0px 5px 7px 3px gray;
  }

  .tfm-upper{
    flex-direction: row;
    align-items: center;
  }
  .title-per-device-productCart  {
    display: block;
  }
  .title-cart {
    width: 70%;
    margin: auto;
    font-size: 36px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-descrption {
    padding: 1rem;
  }
  .div-descrption div {
    font-size: 1.5rem;
  }

  .tfm-lower{
    flex-direction: row;
  }
  .reserved-date {
    font-size: 22px;
  }
  .price-button-preview p {
    font-size: 22px;
  }
  .trash-button .fa-trash-alt {
    font-size: 30px;
  }
  .trash-button {
    padding-top: 10px;
    position: absolute;
    bottom: 2em;
    right: 8em;
  }
  .confirm-button button:hover {
    box-shadow: 6px 6px 30px rgb(248, 212, 92);
  }

  .keepShopping-button {
    margin: auto;
    text-align: center;
  }
  .keepShopping-button button {
    background-color: rgb(49, 71, 92);
    color: rgb(248, 212, 92);
  }
  .keepShopping-button button:hover{
    box-shadow: 0px 0px 7px 3px gray;
    cursor: pointer;
  }
}
