@media (min-width: 1000px) {
  header {
    font-size: 22px;
  }
  .nav-login {
    font-size: 22px;
  }

  .top-phrase {
    display: block;
    color: rgb(248, 212, 92);
    text-align: justify;
  }
  .top-phrase p {
    padding: 5px;
  }
  .top-phrase i {
    padding: 0px 15px;
  }

  .search-bar input {
    width: 80%;
    margin-top: 40px;
    height: 45px;
  }

  .search-bar button {
    height: 45px;
    width: 40px;
  }

  .top-title-per-device {
    display: block;
    color: rgb(248, 212, 92);
    text-align: center;
  }
  .title-per-device {
    display: none;
  }
  main {
    padding: 1rem 0;
  }

  .work-with-us-button {
    margin: auto;
    padding: 15px;
    width: 80%;
    text-align: center;
  }
  .work-with-us-button button {
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(49, 71, 92);
    color: rgb(248, 212, 92);
    max-width: 600px;
    padding: 10px;
  }
  .work-with-us-button button:hover {
    /* box-shadow: 0px 0px 7px 3px rgb(248, 212, 92); */
    box-shadow: 0px 0px 7px 3px rgb(49, 71, 92);
  }

  .icon-article-wrapper {
    max-width: 200px;
  }

  .icon-article:hover {
    box-shadow: 0px 0px 7px 3px #333;
  }

  .icon-categories {
    font-size: 36px;
    margin: auto;
    max-width: 1200px;
  }
  .icon-categories a {
    width: 100%;
  }

  .icon-txt {
    font-size: 1.5rem;
    color: rgb(49, 71, 92);
    font-weight: 400;
  }

}
