.title-cart {
  width: 90%;
  margin: auto;
  font-size: 22px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-flex-mobile {
  justify-content: space-between;
  font-weight: bold;
  flex-wrap: wrap;
  align-items: center;

  border-bottom: 10px black double;
  border-top: 10px black double;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  max-width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

main {
  background-color: rgb(49, 71, 92);
}
.div-avatar {
  width: 20%;
}

.prof-avatar {
  border: 10px black double;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.div-descrption {
  width: 20%;
}

/* .description {
  display: flex;
  flex-wrap: wrap;
  width: 11%;
} */

.reserved-date {
  font-size: 14px;
  text-align: center;
  width: 20%;
}

.price-button-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-around;
  width: 20%;
}

.price-preview p {
  font-size: 14px;
}
.title-per-device-productCart {
  color: black;
  font-size: 16px;

  /* width: 90%; */
  font-weight: 700;
  text-decoration: underline;
}
.name-per-device-productCart {
  color: red;
  font-size: 12px;

  /* width: 90%; */
  font-weight: 700;
}

.trash-button {
  width: 20px;
  height: 20px;
}

.trash-button .fa-trash-alt {
  font-size: 20px;
}

.confirm-button {
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center;
}
.confirm-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
  padding: 10px;
}
.confirm-button button:hover {
  box-shadow: 6px 6px 30px rgb(248, 212, 92);
}

.keepShopping-button {
  margin: auto;
  padding: 15px;
  width: 80%;
  text-align: center;
}
.keepShopping-button button {
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  width: 80%;
  height: 30px;
}
