.title-cart {
  width: 90%;
  margin: auto;
  font-size: 22px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-flex-mobile {
  /* overflow-wrap: break-word; */
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #333;
}

.tfm-upper {
  display: flex;
  flex-direction: column;
}
.tfm-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.tfm-lower .urgency {
  display: none;
}

main {
  /* background-color: rgb(49, 71, 92); */
}
.div-avatar {
  /* width: 20%; */
}

.prof-avatar {
  border: 1px  solid gray;
  width: 100px;
  height: 100px;
  /* margin: 10px; */
}

.div-descrption div{
  /* width: 20%; */
  font-size: 1rem;
}

/* .description {
  display: flex;
  flex-wrap: wrap;
  width: 11%;
} */

.reserved-date {
  font-size: 22px;
  text-align: center;
  /* width: 20%; */
}
.reserved-date i {
  color: crimson;
}
.price-button-preview {
  font-size: 1.5rem;
  font-weight: 500;
}

.price-preview p {
  font-size: 14px;
}
.title-per-device-productCart {
  display: none;
  color: black;
  font-size: 16px;
  /* width: 90%; */
  font-weight: 700;
}
.name-per-device-productCart {
  font-size: 12px;

  /* width: 90%; */
  font-weight: 700;
}

.trash-button {
  width: 20px;
  height: 20px;
}

.trash-button .fa-trash-alt {
  font-size: 20px;
}

.confirm-button {
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center;
}
.confirm-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
  padding: 10px;
}
.confirm-button button:hover {
  box-shadow: 6px 6px 30px rgb(248, 212, 92);
}

.keepShopping-button {
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.keepShopping-button button {
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  width: 250px;
}
