main {
  background-color: rgb(49, 71, 92);
}

.allProduct {
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 10px;
}

.prof-title-father {
  display: flex;
  justify-content: space-around;
}

.title-per-device-productDetail {
  color: black;
  font-size: 1.7em;
  margin: 10px;
  padding: 3px;
  /* width: 90%; */
  font-weight: 700;
  text-decoration: underline;
}
.name-per-device-productDetail {
  color: red;
  font-size: 1.5em;
  padding: 3px;
  /* width: 90%; */
  font-weight: 700;
  margin: 10px;
}
.prof-avatar {
  border: 10px black double;
  width: 30vw;
  height: 30vw;
  margin: 10px;
  max-width: 150px;
  max-height: 150px;
}

.rating-star {
  width: 45vw;
  margin: auto;
  padding-bottom: 5px;
}
/* .rating-star div span {
  color: blue;
} */
.top-flex-mobile {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.rating-father {
  margin: auto;
  text-align: right;
}
.buttons-below-avatar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 80%;
  font-weight: bold;
}
.buttons-below-avatar button {
  background-color: grey;
  color: white;
}
.icon-categories-product {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
.title-prof-name {
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 35px;
}
.details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
/* .column12-productDetail {
  margin-bottom: 10px;
} */
.column22-productDetail {
  margin: 10px;
  font-weight: bold;
}
.prof-detail-text p {
  margin-top: 25px;
}
.prof-txt {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: double rgb(49, 71, 92) 10px;
  font-weight: normal;
}
