.title-per-device-productDetail {
  color: red;
  font-size: 1.8em;
  margin-top: 10px;
  padding: 3px;
  width: 90%;
  font-weight: 700;
  margin-left: 10px;
}
.prof-avatar {
  border: red 2px dotted;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.rating-star {
  border: dotted red 2px;
  width: 100px;
  margin-left: 10px;
}
.rating-star p {
  font-size: 12px;
}

.rating-father {
  display: flex;
}
.buttons-below-avatar {
  display: flex;
}
.columns-productDetail-father {
  display: flex;
}
.details {
  display: flex;
}
