main {
  background-color: rgb(49, 71, 92);
}

.all-registerProf {
  padding: 10px;
  background-color: rgb(49, 71, 92);
  margin: auto;
  padding-bottom: 20px;
}

.prof-form {
  margin: auto;
  width: 80%;
  padding: 10px;
  max-width: 600px;
  background-color: white;
  margin-top: 20px;
}

.registerInput {
  margin-bottom: 10px;
  width: 100%;
}

.registerInput input {
  width: 100%;
  height: 30px;
}

.prof-form label {
  font-weight: 700;
}

.localidad-list label select {
  width: 100%;
  height: 30px;
}

.profesiones-list label select {
  width: 100%;
  height: 30px;
}

.whyme textarea {
  width: 100%;
  height: 150px;
}

.confirm-button {
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center;
}
.confirm-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
  padding: 10px;
}
.confirm-button button:hover {
  box-shadow: 0px 0px 7px 3px rgb(248, 212, 92);
}

.dispo-dias {
  padding: 10px;
}

.dispo-dias p {
  padding-left: 10px;
  font-weight: 700;
}

.dispo-dias label {
  padding-left: 15px;
  font-size: 13px;
}

/* Cuando implementemos el script del select licence */
/* .licence {
  display: none;
} */