@media (min-width: 480px) {
  .social {
    max-width: 250px;
  }
  .icon-contact {
    max-width: 150px;
  }
  .categories {
    max-width: 250px;
  }
  .login {
    max-width: 150px;
  }
  .allProduct {
    /* width: 90%; */
    background-color: white;
    margin: auto;
    /* padding: 10px; */
  }
  .top-flex-mobile{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .workImages {
    width: 50%;
  }
  .buttons-below-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .buttons-below-avatar button {
    max-height: 3rem;
  }
}
