@media (min-width: 480px) {
  .social {
    max-width: 250px;
  }
  .icon-contact {
    max-width: 150px;
  }
  .categories {
    max-width: 250px;
  }
  .login {
    max-width: 150px;
  }
  .allProduct {
    /* width: 90%; */
    background-color: white;
    margin: auto;
    /* padding: 10px; */
  }
}
