* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(49, 71, 92);
}

main {
  background-color: rgb(49, 71, 92);
}
.all-index {
  background-color: white;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.header-top a {
  width: 40%;
  max-width: 150px;
}

.header-top a img {
  width: 100%;
  max-width: 150px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.search-bar {
  flex-grow: 1;
  text-align: center;
  width: 50%;
  max-width: 700px;
}
.search-bar input {
  width: 80%;
  margin-top: 40px;
  height: 25px;
}

.search-bar button {
  height: 25px;
}
.top-phrase {
  display: none;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 10px black double;
  margin: auto;
  width: 90%;
  font-size: 1.5em;
}

.social {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.top-title-per-device {
  display: none;
}
.icon-contact {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.nav-login {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(248, 212, 92);
  width: 90%;
  margin: auto;
  font-size: 1.1em;
}

.fa-shopping-cart {
  color: rgb(248, 212, 92);
}
.categories {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.fa-chevron-down {
  color: white;
  padding-left: 5px;
}
.fa-twitter {
  color: rgb(29 161 242);
}
.fa-youtube {
  color: rgb(255, 0, 0);
}

.fa-whatsapp {
  color: rgb(37 211 102);
}
.fa-instagram {
  color: rgb(193 53 132);
}
.fa-facebook-f {
  color: rgb(66, 103, 178);
}
.fa-envelope {
  color: rgb(216, 215, 215);
}
.login {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.txt-ingresar {
  display: none;
}
.prof-zona {
  display: none;
}

.title-per-device {
  font-size: 1.1em;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 3px;
  width: 90%;
  font-weight: 700;
}

.services-carousel {
  width: 95%;
  height: 7em;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border: 10px black double;
}
.dot-carousel {
  width: 30%;
  text-align: center;
  margin: auto;
}
/* .work-with-us-button {
  font-size: 16px;
  text-align: center;
  margin: auto;
  width: 80%;
  height: 10%;
  border: black solid 2px;
  box-shadow: 4px 4px 5px black;
} */

.work-with-us-button {
  margin: auto;
  padding: 15px;
  width: 80%;
  text-align: center;
}
.work-with-us-button button {
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
  padding: 10px;
}
.work-with-us-button button:hover {
  box-shadow: 6px 6px 30px rgb(248, 212, 92);
}

.title-categories {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
}
.icon-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.icon-article {
  width: 40%;
  max-width: 200px;
  text-align: center;
  font-size: 36px;
  margin: 10px;
  border: 10px rgb(49, 71, 92) double;
}

.icon-txt {
  font-size: 16px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  font-weight: 400;
  text-decoration: underline;
}
.fa-wrench {
  color: black;
  font-weight: 800;
}
.fa-plug {
  color: black;
  font-weight: 800;
}
.fa-tooth {
  color: black;
  font-weight: 800;
}
.fa-faucet {
  color: black;
}
.fa-hammer {
  color: black;
  font-weight: 800;
}
.fa-paint-roller {
  color: black;
  font-weight: 800;
}

.ad {
  width: 95%;
  height: 7em;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border: 10px black double;
  background-color: white;
}

.partner-companies {
  width: 95%;
  height: 7em;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border: 10px black double;
  background-color: white;
}

.footer {
  background-color: white;
}

.phrase-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.titles-footer {
  flex-wrap: wrap;
}

.titles-footer a {
  color: black;
  text-decoration: none;
}

.list-footer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 95%;
  justify-content: space-evenly;
  font-size: 16px;
  max-width: 500px;
}

.Copyright {
  font-size: 0.8em;
  margin-top: 10px;
}
