@media (min-width: 1000px) {
  .form-login {
    font-size: 20px;
  }
  .form-login input {
    height: 30px;
  }
  .form-login button {
    padding: 5px;
    width: 250px;
  }
  .password-forgotten {
    font-size: 20px;
  }
}
