.header-top a {
  width: 40%;
  max-width: 150px;
}

.header-top a img {
  width: 100%;
  max-width: 150px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.search-bar {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: center;
  width: 50%;
  max-width: 700px;
}
.search-bar input {
  width: 80%;
  /* margin-top: 40px; */
  height: 25px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 0.5rem;
}

.search-bar button {
  /* height: 25px; */
  padding: 5px;
  border: none;
  border-radius: 0 5px 5px 0;
}
.top-phrase {
  display: none;
}
