.form-login {
  margin: auto;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

.form-login div {
  font-weight: bold;
}

.username {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}
.username input {
  width: 350px;
}
.password {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}
.password input {
  width: 350px;
}
.login-button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
}

.login-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
}
.login-button button:hover {
  box-shadow: 0px 0px 7px 3px rgb(248 212 92);
}

.password-forgotten {
  text-align: center;
  background-color: white;
  width: 90%;
  padding: 20px;
  max-width: 700px;
  background-color: white;
  margin: auto;
}

.password-forgotten a {
  color: black;
  text-decoration: none;
}

.fe-errors {
  text-align: center;
  color: darkred;
  padding-top: 1rem;
  font-weight: 600;
}