main {
  /* background-color: rgb(49, 71, 92); */
}

.allProduct {
  /* width: 90%; */
  background-color: white;
  margin: auto;
  /* padding: 10px; */
}

.prof-title-father {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-per-device-productDetail {
  display: none;
  color: black;
  font-size: 1.7em;
  margin: 10px;
  padding: 3px;
  /* width: 90%; */
  font-weight: 700;
  text-decoration: underline;
}
.name-per-device-productDetail {
  color: rgb(49, 71, 92);
  font-size: 2rem;
  /* padding: 3px; */
  /* width: 90%; */
  font-weight: 700;
  margin: 1rem;
}
.columns-productDetail-father {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
  border: 1px solid rgb(49, 71, 92);
  border-radius: 10px;
}
.prof-avatar {
  box-shadow: 0px 0px 7px 3px whitesmoke;
  margin: auto;
  max-width: 200px;
}
.prof-avatar img {
  padding: 1rem;
  width: 100%;
}

.rating-star {
  margin: auto;
  padding-bottom: 5px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
/* .rating-star div span {
  color: blue;
} */
.top-flex-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
}

.rating-father {
  margin: auto;
  text-align: left;
}
/* .buttons-below-avatar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 80%;
  font-weight: bold;
}
.buttons-below-avatar button {
  background-color: grey;
  color: white;
} */
.buttons-below-avatar {
  margin: auto;
  padding: 15px;
  /* width: 60%; */
  text-align: center;
  max-width: 600px;
}
.buttons-below-avatar button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 100%;
  max-width: 200px;
  padding: 5px;
}
.buttons-below-avatar button:hover {
  box-shadow: 0px 0px 7px 3px rgb(248, 212, 92);
}
.buttons-below-avatar div {
  padding: 1rem;
}
.buttons-below-avatar form {
  padding: 1rem;
}
.delete-form button{
  background-color: indianred;
}
.delete-form button:hover{
  color: #333;
  background-color: orangered;
  box-shadow: 0px 0px 7px 3px orangered;
}
.icon-categories-product {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
.title-prof-name {
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  /* margin-top: 35px; */
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  min-width: 250px;
  /* margin-bottom: 10px; */
}
.details-description{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.details:first-child{
  padding: 0.5rem;
  font-size: 1.5rem;
}
.details .details-info{
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details-info p:first-of-type{
  padding-right: 0.5rem;
  font-weight: 800;
}
/* .column12-productDetail {
  margin-bottom: 10px;
} */
.column22-productDetail {
  margin: 10px;
  font-weight: bold;
}
.prof-detail-text {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(49, 71, 92);
  border-radius: 10px;
}
.prof-txt {
  width: fit-content;
  padding: 5px 16px;
  margin: auto;
  margin-top: 10px;
  /* border: double rgb(49, 71, 92) 10px; */
  font-weight: normal;
  text-align: justify;
}

.confirm-button {
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center;
}
.confirm-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
  padding: 10px;
}
.confirm-button button:hover {
  box-shadow: 6px 6px 30px rgb(248, 212, 92);
}

.workImages {
  margin: auto;
  text-align: center;
}

.workImages img {
  width: 100%;
}
