main {
  background-color: rgb(49, 71, 92);
}

.clientForm {
  margin: auto;
  width: 80%;
  padding: 10px;
  max-width: 600px;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
}

.registerInput {
  margin-bottom: 10px;
  width: 100%;
}

.registerInput input {
  width: 100%;
  height: 30px;
}

.clientForm label {
  font-weight: 700;
}

.localidad-list label select {
  width: 100%;
  height: 30px;
}

.team-list label select {
  width: 100%;
  height: 30px;
}

/* .confirm-button {
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center;
}
.confirm-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  box-shadow: 8px 8px 5px black;
  width: 95%;
} */

.confirm-button {
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center;
}
.confirm-button button {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  width: 95%;
  padding: 10px;
}
.confirm-button button:hover {
  box-shadow: 0px 0px 7px 3px rgb(248, 212, 92);
}

.form-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: #d74f3d;
  line-height: 1.5;
}
.form-errors ul {
  list-style: none;
}