* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

body a {
  text-decoration: none;
}

body a:visited {
  text-decoration: none;
}

.all-index {
  background-color: white;
  width: 100%;
  margin: auto;
}

.bg-c-blue {
  background-color: rgb(49, 71, 92);
}

.yw-txt {
  color: rgb(248, 212, 92);
}

.header-top a {
  width: 40%;
  max-width: 150px;
}

.header-top a img {
  width: 100%;
  max-width: 150px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.search-bar {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: center;
  width: 50%;
  max-width: 700px;
}
.search-bar input {
  width: 80%;
  /* margin-top: 40px; */
  height: 25px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 0.5rem;
}

.search-bar button {
  /* height: 25px; */
  padding: 5px;
  border: none;
  border-radius: 0 5px 5px 0;
}
.top-phrase {
  display: none;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* border: 10px black double; */
  margin: auto;
  width: 90%;
  font-size: 1.5rem;
}

.social {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.top-title-per-device {
  display: none;
}
.icon-contact {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.nav-login {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(248, 212, 92);
  width: 90%;
  margin: auto;
  font-size: 1.1em;
}

.nav-login a{
  color: rgb(248, 212, 92);
  text-decoration: none;
}

.nav-login a:visited{
  text-decoration: none;
}

.nav-login .login .session-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 4rem;
}

.fa-shopping-cart {
  color: rgb(248, 212, 92);
}
.categories {
  width: 40%;
}

.fa-chevron-down {
  color: white;
  padding-left: 5px;
}
.fa-twitter {
  color: rgb(29 161 242);
}
.fa-youtube {
  color: rgb(255, 0, 0);
}

.fa-whatsapp {
  color: rgb(37 211 102);
}
.fa-instagram {
  color: rgb(193 53 132);
}
.fa-facebook-f {
  color: rgb(66, 103, 178);
}

.login {
  display: flex;
  /* width: 30%; */
  justify-content: space-between;
}
.txt-ingresar {
  /* display: none; */
}
.prof-zona {
  display: none;
}

.title-per-device {
  font-size: 1.1em;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 3px;
  width: 90%;
  font-weight: 700;
  color: #333;
}

.services-carousel {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.services-carousel img {
  width: 100%;
}

.dot-carousel {
  width: 30%;
  text-align: center;
  margin: auto;
}
/* .work-with-us-button {
  font-size: 16px;
  text-align: center;
  margin: auto;
  width: 80%;
  height: 10%;
  border: black solid 2px;
  box-shadow: 4px 4px 5px black;
} */

.work-with-us-button {
  margin: auto;
  padding: 15px;
  width: 100%;
  text-align: center;
}
.work-with-us-button button {
  margin: 0.5rem auto;
  display: block;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 71, 92);
  color: rgb(248, 212, 92);
  /* box-shadow: 8px 8px 5px rgb(248, 212, 92); */
  padding: 10px;
}
.work-with-us-button button:hover {
  background-color: hsl(209,43,39);
  box-shadow: 6px 6px 30px rgb(248, 212, 92);
}

.title-categories {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}
.icon-article-wrapper {
  width: 35%;
  max-width: 150px;
  margin: 1rem;
}
.icon-article{
  box-shadow: 0px 0px 5px 1px #333;
  padding: 1.5rem;
  border-radius: 25%;
}
.icon-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.icon-categories a {
  width: 100%;
}
.icon-article {
  color: rgb(49, 71, 92);
  text-align: center;
  font-size: 36px;
}

.icon-article a {
  text-decoration: none;
  color: rgb(49, 71, 92);
}

.icon-txt {
  font-size: 16px;
  font-weight: 400;
}
/* .fa-wrench {
  color: rgb(248, 212, 92);
  font-weight: 800;
}
.fa-plug {
  color: rgb(248, 212, 92);
  font-weight: 800;
}
.fa-tooth {
  color: rgb(248, 212, 92);
  font-weight: 800;
}
.fa-faucet {
  color: rgb(248, 212, 92);
}
.fa-hammer {
  color: rgb(248, 212, 92);
  font-weight: 800;
}
.fa-paint-roller {
  color: rgb(248, 212, 92);
  font-weight: 800;
} */

.ad {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  background-color: white;
}

.ad img {
  width: 100%;
}

.partner-companies {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  background-color: white;
}

.partner-companies img {
  width: 100%;
}

.footer {
  background-color: white;
}

.phrase-footer {
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.titles-footer {
  flex-wrap: wrap;
}

.titles-footer a {
  color: black;
  text-decoration: none;
}

.list-footer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  font-size: 14px;
}

.list-footer li {
  padding: 0.5rem 1rem;
}

.Copyright {
  margin-left: 1rem;
  color: #333;
  font-size: 0.8em;
  margin-top: 10px;
}

.c333 {
  color: #333;
}

.errors {
  text-align: center;
  color: darkred;
  padding-top: 1rem;
  font-weight: 600;
}